@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;

}

  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button{
    display: block;
    width: 160px;
    border: 2px solid transparent;
    padding: 12px 15px;
    border-radius: 3px;
    color: var(--white);
    cursor: pointer;
    transition: background 0.5s ease;
  }
  
  button.success_btn{
    margin-right: 10px;
    background: #3cb878;
    width: 100%;
    border-radius: 7px;
    font-size: 19px;
  }
  

  button.success_btn:hover{
    background: #059249;
  }
  
  .modal {
    width: 350px;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #3cb878;
    border-radius: 7px;
  }
  
  .modal_item .modal_body{
    padding: 10px;
    text-align: center;
  }
  .s_icon{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    margin: 0 auto 5px;
    fill:  #3cb878;
  }
  
  .modal_item.s_modal .modal_body .s_text h2{
    color: #3cb878;
    font-size: 30px;
  }
   
  .modal_item .modal_body .s_text p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
  }

  