<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="wrapper">
    <div class="modal">
        <div class="modal_item s_modal">
            <div class="modal_body">
                <div class="s_icon">
                    <span class="material-symbols-outlined">
                        task_alt
                    </span>
               </div>
               <div class="s_text">
                   <h2>SUCCESS</h2>
                   <p>We are delighted to inform you that we received your payment.</p>
               </div>
               
               <div class="s_button">
                   <button class="success_btn">Continue</button>
               </div>
           </div>
        </div>
    </div>   
</div>
